[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen
[submodule "powerline_fonts"]
	path = powerline_fonts
	url = https://github.com/powerline/fonts
[submodule "spacemacs/.emacs.d"]
	path = spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "asdf"]
	path = asdf
	url = https://github.com/HashNuke/asdf.git
